{{ define "main" }}
  <!-- Banner dengan Teks Bergantian dan Pengenalan Singkat -->
  <section class="section pt-14">
    <div class="container">
      <div class="row justify-center">
        <div class="lg:col-7 md:col-9 mb-8 text-center">
          <!-- Teks IMABA -->
          <h1 class="mb-4 text-h3 lg:text-h1 font-bold">
            {{ .Params.banner.title | markdownify }}
          </h1>

          <!-- Teks Bergantian -->
          <div class="rotating-text mb-6">
            {{ range .Params.banner.rotating_text }}
              <p class="text-lg">{{ . }}</p>
            {{ end }}
          </div>

          <!-- Pengenalan Singkat -->
          <p class="text-lg">
            {{ .Params.banner.intro | markdownify }}
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Visi dan Misi -->
  <section class="section">
    <div class="container">
      <div class="row">
        <!-- Visi -->
        <div class="md:col-6 mb-8">
          <div class="bg-theme-light dark:bg-darkmode-theme-light rounded-lg px-7 py-10">
            <h2 class="mb-4 text-h4">
              {{ .Params.vision_mission.vision.title | markdownify }}
            </h2>
            <ol>
              {{ range .Params.vision_mission.vision.points }}
                <li class="mb-4">
                  {{ . | markdownify }}
                </li>
              {{ end }}
            </ol>
          </div>
        </div>

        <!-- Misi -->
        <div class="md:col-6 mb-8">
          <div class="bg-theme-light dark:bg-darkmode-theme-light rounded-lg px-7 py-10">
            <h2 class="mb-4 text-h4">
              {{ .Params.vision_mission.mission.title | markdownify }}
            </h2>
            <ol>
              {{ range .Params.vision_mission.mission.points }}
                <li class="mb-4">
                  {{ . | markdownify }}
                </li>
              {{ end }}
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
{{ end }}